/*
body{
    margin: 0;
}
div{
    border-width: 5px 5px 5px 5px;
    border-style: dotted;
    border-color: red;  
    height: 500px; width: 500px;
    background: darkgray;
}
p{
    font-size: 2em;
    background: lightgray;
    height: 50%px; width: 100%;
}
span{
    background: yellow;
    font-size: 1em;
    height: 2em; width: 100px;
}
*/
.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 5% 65%;
    grid-template-rows: 40px auto 20px auto;
}
.mainheaer{
    grid-column: 1/4;
    grid-row: 2/3;
}
.panel{
    grid-column: 1/2;
    grid-row: 4/5;
}
.content{
    grid-column: 3/4;
    grid-row: 4/5;
}
.mainfooter{
    background-color: black;
    grid-column: 1/4;
    grid-row: 5/6;
}