
@media (max-width: 600px){
    /*Become responsive*/
}
.parent{
    padding: 3%;
    background-color: black;
    border-color: white;
    border: 1px;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}
.childBox1{
    padding: 2%;
    background-color: red;
}
.childBox2{
    padding: 2%;
    background-color: orange;
}
.childBox3{
    padding: 2%;
    background-color: yellow;
}
.childBox4{
    padding: 2%;
    background-color: green;
}
.childBox5{
    padding: 2%;
    background-color: blue;
}
.childBox6{
    padding: 2%;
    background-color: pink;
}
.childBox7{
    padding: 2%;
    background-color: purple;
}
.childBox8{
    padding: 2%;
    background-color: brown;
}
.childBox9{
    padding: 2%;
    background-color: aqua;
}
.childBox10{
    padding: 2%;
    background-color: grey;
}