@font-face {
   font-family: "PT Sans";
   src: url("public/fonts/PT_Sans/PTSans-Regular.ttf");
  }
body{
    font-family: 'PT Sans';
}

label {
    width:180px;
    /* clear specifies what should happen with the element that is next to a floating element. */
    clear:left;
    text-align:left;
    padding-right:10px;
    float:left;
}

input {
    width:180px;
}